<!DOCTYPE html>
<html lang="en-gb">

<head>
</head>
<body class="tm-isblog" onload="loadMatches()" style="overflow-x: hidden">

        <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
            <div class="uk-container uk-container-center">
                <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

                    <div class="uk-width-1-1 uk-row-first">
                        <div class="uk-panel">
                            <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('../../images/head-bg.jpg');">
                                <img class="uk-invisible" src="../../images/head-bg.jpg" alt="" height="290" width="1920">
                                <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                    <h1 class="myTeamName"><%= @tournament.name %></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="uk-container uk-container-center alt" >
            <ul class="uk-breadcrumb">
                <li><a>Tournament</a></li>
                <li class="myTournament"><span><%= @tournament.name %></span></li>
            </ul>
        </div>
  
        <div class="uk-container uk-container-center" style="padding-bottom:80px;">
            <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                <div class="tm-main uk-width-large-1-1">
                    <main id="tm-content" class="tm-content">
                        <div class="match-list-wrap" id="target">
                            <% @tournament.matches.each do |match| %>
                                <% cache(cache_key_for_match_row(match)) do %>
                                    <% if !match.date.match(/^Week/) && match.date != "Season" && match.date != "ALL" %> 
                                        <div class="match-list-item" id="target">
                                            <div class="date">
                                                <span><%= match.date %></span>
                                            </div>
                                            <div class="logo">
                                                <a href="results.html">
                                                <img src="../../images/Emblems/<%=match.team1%>.png"></a>                    
                                            </div>
                                            <div class="team-name">
                                                <% if Club.find_by name:match.team1 %>
                                                <% team1 = Club.find_by name:match.team1 %>
                                                <a href="../clubs/<%=team1.id%>" style="color: #ffffff;"><%= match.team1 %></a>
                                                <% else %>
                                                <%= match.team1 %>
                                                <% end %>
                                            </div>
                                            <div class="team-score">
                                                <%= match.score %>
                                            </div>
                                            <div class="team-name">
                                                <% if Club.find_by name:match.team2 %>
                                                <% team2 = Club.find_by name:match.team2 %>
                                                <a href="../clubs/<%=team2.id%>" style="color: #ffffff;"><%= match.team2 %></a>
                                                <% else %>
                                                <%= match.team2 %>
                                                <% end %>
                                            </div>
                                            <div class="logo">
                                                <a href="results.html">
                                                <img src="../../images/Emblems/<%=match.team2%>.png"></a>                  
                                            </div>
                                            <div class="location">
                                                <address>
                                                    <%= match.city %> , <%= match.state %>               <br><br>
                                                </address>
                                            </div>
                                            <div class="va-view-wrap">
                                                <% if match.gameid == "N/A" || match.gameid == "2016-international-friendly-usa-sui-102316" || match.gameid == "2016-international-friendly-usa-irl-0123116" %>
                                                    <a class="view-article">No Match Data</a>
                                                <% else %>
                                                    <a class="view-article" href="../matches/<%=match.id%>">view</a>
                                                <% end %>
                                            </div>
                                        </div>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </main>
                </div>

            </div>
        </div>
 <!---   <script>
    function loadMatches() {
            var data =  [
        {
            "WeekNum":"20",
            "team1Logo":"ny-flash-logo.png",
            "team1":"Western New York Flash",
            "team1Score":"3",
            "team2Score":"2",
            "team2":"Portland Thorns",
            "team2Logo":"por-thorns-logo.png",
            "location":"Portland",
        },
                {
            "WeekNum":"20",
            "team1Logo":"ny-flash-logo.png",
            "team1":"Western New York Flash",
            "team1Score":"3",
            "team2Score":"2",
            "team2":"Portland Thorns",
            "team2Logo":"por-thorns-logo.png",
            "location":"Portland",
        }
                ];

    var template = [
        '<div class="match-list-item" id="target">',
        '<div class="date">',
        '<span>Week</span>',
        '{{WeekNum}}',
    '</div>',
    '<div class="logo">',
        '<a href="results.html">',
        '<img src="../../images/MessiCodersPics/{{team1Logo}}"></a>',                    
   '</div>',
    '<div class="team-name">',
        '{{team1}}',               
    '</div>',
    '<div class="team-score">',
        '{{team1Score}}',
    '</div>',
    '<div class="score-separator">:</div>',
    '<div class="team-score">',
        '{{team2Score}}',
    '</div>',
    '<div class="team-name">',
        '{{team2}}',
    '</div>',
    '<div class="logo">',
        '<a href="results.html">',
        '<img src="../../images/MessiCodersPics/{{team2Logo}}"></a>',                  
    '</div>',
    '<div class="location">',
        '<address>',
            '{{location}}               <br><br>',
        '</address>',
    '</div>',
    '<div class="va-view-wrap">',
        '<a class="view-article" href="results.html">view</a>',
    '</div>',
'</div>',
        '</div>'
    ].join("\n");

        var html = "";
        var i = 0;
        for (; i<data.length; i++){
            html += Mustache.render(template, data[i]);
        }
    
    document.getElementById("target").innerHTML = html;
    }
</script> --->



</body>

</html>